__pycache__/
*.pyc
.venv/
venv/
env/

data/logs/*
!data/logs/.gitkeep
data/reports/*
!data/reports/.gitkeep
data/captures/*
!data/captures/.gitkeep
data/captures/rgb_left/*
!data/captures/rgb_left/.gitkeep
data/captures/rgb_right/*
!data/captures/rgb_right/.gitkeep
data/captures/thermal/*
!data/captures/thermal/.gitkeep

logs/*
captures/*
